<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="25%" style="overflow: hidden" class="login-content">
    <img src="assets/image/welcome.jpeg" alt="" mat-card-image>
  </div>
  <mat-card fxFlex="35%" class="login-content" fxLayout="column" fxLayoutGap="2rem">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="2rem">
      <mat-form-field>
        <label>
          <input type="text" matInput placeholder="Email">
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input type="password" matInput placeholder="Password">
        </label>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
